.container {
  margin: 20px auto;
  margin-left: 5%;
  margin-right: 5%;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.tab {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-decoration: none;
  outline: none;
}

.tab.active {
  border-bottom: 2px solid #333;
}

.tab-button-selector {
  margin: 0 10px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
}
.container {
  margin: 20px auto;
  margin-left: 5%;
  margin-right: 5%;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.tab {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-decoration: none;
  outline: none;
}

.tab.active {
  border-bottom: 2px solid #333;
}

.tab-button-selector {
  margin: 0 10px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
}

.error-message {
  font-size: 23px;
  font-weight: 700;
  text-align: center;
}
